/* header */
.navbar-mobile .navbar-toggler span {
    display: block;
    width: 30px;
    height: 4px;
    background: #B0B0B0;
    border-radius: 40px;
    transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -webkit-transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -moz-transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -ms-transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -o-transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.navbar-toggler span:nth-of-type(2) {
    width: 20px;
    /* margin: 5px 0 5px auto; */
}

.navbar-mobile .navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(9px, 6px);
    -webkit-transform: rotate(45deg) translate(9px, 6px);
    -moz-transform: rotate(45deg) translate(9px, 6px);
    -ms-transform: rotate(45deg) translate(9px, 6px);
    -o-transform: rotate(45deg) translate(9px, 6px);
}

.navbar-mobile .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}

.navbar-mobile .navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(8px, -5px);
    -webkit-transform: rotate(-45deg) translate(8px, -5px);
    -moz-transform: rotate(-45deg) translate(8px, -5px);
    -ms-transform: rotate(-45deg) translate(8px, -5px);
    -o-transform: rotate(-45deg) translate(8px, -5px);
}

.navbar-mobile .navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
}

.main-menu-wrapper .navbar-nav {
    -webkit-animation: fadeOut 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fadeOut 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation-delay: 0s;
}

.navbar-open .main-menu-wrapper .navbar-nav {
    -webkit-animation: fadeIn 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fadeIn 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation-delay: 0.6s;
}

.navbar-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 6px;
    border: none;
    padding: 0;
    position: relative;
    z-index: 999;
    cursor: pointer;
    background: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    box-shadow: none;
    outline: none;
}

body.navbar-open {
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar-open .main-menu-wrapper {
    transform: translateX(0);
}

.main-menu-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 52, 31, 0.75);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    padding: 150px 0 0;
    z-index: 9;
}

.navbar-brand {
    display: inline-block;
    z-index: 99;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 99;
}

.navbar .navbar-mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

/* homepage */
.container {
    width: 100%;
    max-width: clamp(320px, 88.8vw, 1707px);
    margin: 0 auto;
}

.homepage {
    position: relative;
    background-image: url(../images/hero-banner.webp);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.apc-logo {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}