# Enable URL rewriting
RewriteEngine On

# Ensure the rewrite engine is only used if the requested file doesn't already exist
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite URLs without extension to .php if the file exists
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ $1.php [L]

# Rewrite URLs without extension to .html if the file exists
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)$ $1.html [L]
